body{
height:auto;
 font-family: myFirstFont;
width:100%;	
}

#mynavbar{
	background-color:rgba(0,0,0,0.4);
	border:none; 
	font-weight:700;
	box-shadow: 5px,2px,20px;
}

.navbar-default .navbar-nav>li>a
{
	color:#ffffff;
	opacity: 0.5;
}
.navbar-default .navbar-nav>li>a:hover{
	 color:#ffffff;
	 opacity:1;
}

.header{

 height:100vh;
 font-family: ABOVE  - PERSONAL USE ONLY.ttf, Arial;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
}
.navbar-default .navbar-nav>li>a{
	text-align:center;
}
.header h1{
	 margin-top: 300px;
	 color:#c6cad1;
	 font-size:4em;
	 opacity:0.7;
	 font-weight:700;
	  margin-left: 100px;
	   font-family: myFirstFont;
}
.slash{
	color:#c6c5c2;
}
#second_slash{
	 margin-left:270px;
}

.our_story {
	color:#a7b0b7;

background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../images/road.jpeg');
background-size:cover;

background-attachment: fixed;
height:100vh;
}
.our_story  h2{
	margin-top:200px;
	text-align: center;
	
}
.our_story p{
	margin-top:200px;
}

.services{

height:100vh;
}
.services .container .row h2{
	text-align: center;
	margin-top:50px;
}
.services .container .row h3{
	text-align: center;
	margin-top: 30px;
}
.services .container .row p{
	padding:20px 5px;
}
.services i{
	 margin-left:30%;
	width:80px;
	margin-top:30px;
	height:80px;
	padding:25px 22px;
	font-size:30px;
	color:#8c5b40;
	border:1px solid brown;
	border-radius:50%;
}

#mob{
	padding-left:30px;
	font-size:40px;
	padding-top:17px;
}
#db{
	padding-left:25px;
}
.team{
	color:#222222; 
	height:100vh;
}
.team h2{
	margin-top:50px;

	text-align: center;
}
.team h3{
	
	text-align: center;
}
.team p{
	font-weight: 500;
	margin-top:50px;
	word-break: break-all;
}
.team img{
	width:120px;
	height:120px;
	margin-left:33%;
	margin-top:10%;
}

.testimonial{
	height:100vh;
	background-color: brown;
	color:white;
	opacity:0.9;
	
}


.testimonial h2{
	margin-top:50px;
	text-align: center;
}
.testimonial p{
	margin-top:50px;
	
}
.testimonial img{
	margin-top: 50px;
	padding:40px;
	width:250px;
	height:200px;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  /*background-color: #916147;*/
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../images/header_img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.contact{
	height:auto;
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../images/contact.jpg");
	position:center center;
	background-attachment: fixed;

	background-size: cover;
	padding:50px 0 80px;

}
.contact p{
	padding-bottom:80px;
	color:#a7b0b7;
}
.contact h2{
	text-align: center;
	color:#a7b0b7;
	margin:20px 0 28px;
}
.contact .input-group{
	margin-bottom:25px;
}
.contact .form-control{
	 border-radius:0 !important;
}

.contact .btn{
	border-radius:0;
	width:100%;
	font-size:15px;
	background-color: #f08080;
	color:white;

}
.contact .btn:hover{
	background-color: brown;
	color:white!important;
}
video{
	width:100%;
	position:absolute;
	z-index:-1;
	opacity:0.3;
	background-color:  linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));

}


.pricing{

	height:100vh;
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/dice.jpeg");
	background-attachment: fixed;
	color:#a7b0b7;
	background-size: cover;
}
.pricing h2{
		color:#a7b0b7;
	text-align: center;
	margin-top:50px;
}
.pricing p{
		color:#a7b0b7;
	margin-top:50px;
	word-break: break-all;
	padding:bottom:20px;
}
.pricing img{
	width:120px;
	height:120px;
	margin-left:33%;
	margin-top:10%;
}
.pricing h3{
	color:#222222;
	text-align:center;
	margin-top:20px;
	padding-top: 10px;

}
 .count{
	font-family:Segoe UI;
}


.package{
		background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
	 box-shadow: 1px 5px 20px #888888;
	
	padding:0 40px;
	margin:0px 20px;
}
.package p{
		color:#222222;
}

.footer{
background-color: rgba(0,0,0,0.9);
	color:#a7b0b7;
}
.footer h3{
	margin-top:50px;
	font-weight:600;


}
.footer .details{
	margin-top:50px;
}
.footer .details_add{
		margin-top:50px;
}
.footer h4{
margin-top:50px;
font-weight:600; 
	
}
.footer #stayintouch i{
		margin-top:20px;
	font-size: 30px;
	padding:20px;
	padding-left:0px;
	
}
.numb{
	font-family:Segoe UI;
}


@font-face {
    font-family: myFirstFont;
    src: url("../font-awesome-4.7.0/fonts/herofonts_above-demo/ABOVE  - PERSONAL USE ONLY.ttf");
} 



/*MEDIA QUERY FOR RESPONSIVE*/

@media(max-width:600px) and (min-width: 200px)
{
	body{
		height:auto;
	}
	.header{
		height:100vh;
	}
	.header h1{
		
		margin-left:17%;
		font-size:30px;
		margin-top:65%;
		margin-right:10%;

	}
	#second_slash{
		margin:150px;
	}
	#quo{
		margin-left: 50px;
	}
	.services .container .row p{
	padding:20px 30px;
	}

	video{
		display:none;
	}
	.our_story{
		height:65%;
	}
	.our_story h2,.our_story p{
		margin-top:4%;
		padding:20px;
		word-break: break-all;
	}
	.services{
		height:65%;
		position: relative;
	}
	.services p{
		word-break: break-all;
	}
	.services i{
		margin-left:40%;
	}
	.team{
		margin-top:2%;
		height:65%;
		padding:20px;
	}
	.team img{
		 margin-left: 25%;
	}

	.pricing{
		height:65%;
		
		margin-top: 2%;
	}
	.pricing p{
		padding:40px;
	}
	.pricing .package p{
		padding:0px;
	}
	.testimonial{
		height:65%;
			
		
	}
	.testimonial p{
		padding:40px;
	}
	.contact p{
		padding:40px;
		word-break: break-all;
	}
	.footer #stayintouch i{
		padding-right:5%;
	}
}


@media(min-width:601px) and (max-width: 1000px)
{ 

	body{
		height:auto;
	}
	.header{
		height:100vh;
	}
	.header h1{
		
		margin-left:17%;
		font-size:30px;
		margin-top:35%;
		margin-right:10%;

	}
	#second_slash{
		margin:150px;
	}
	#quo{
		margin-left: 50px;
	}
	.services .container .row p{
	padding:20px 30px;
	}

	video{
		display:none;
	}
	.our_story{
		height:65%;
	}
	.our_story h2,.our_story p{
		margin-top:4%;
		padding:20px;
		word-break: break-all;
	}
	.services{
		height:65%;
		position: relative;
	}
	.services p{
		word-break: break-all;
	}
	.services i{
		margin-left:45%;
	}
	.team{
		margin-top:2%;
		height:65%;
		padding:20px;
	}
	.team img{
		 margin-left: 41%;
	}

	.pricing{
		height:65%;
		
		margin-top: 2%;
	}
	.pricing p{
		padding:40px;
	}
	.pricing .package p{
		padding:0px;
	}
	.testimonial{
		height:65%;
			
		
	}
	.testimonial_package{
		display: inline-block;
		padding-right:5%;
		padding-left: 5%;
	}
	.testimonial p{
		padding:40px;
	}
	.contact p{
		padding:40px;
		word-break: break-all;
	}
	.footer #stayintouch i{
		padding-right:5%;
	}
	.footer #aboutus,#stayintouvh,#location{
		display:inline-block;

	}
	.footer #aboutus{
		padding-left:20%;
		
	}

}

@media(min-width: 1001px) and (max-height: 590px)
{
	body{
		height:auto;
	}
	.header{
		height:100vh;
	}
	.header h1{
		
		margin-left:17%;
		font-size:50px;
		margin-top:35%;
		margin-right:10%;

	}
	#second_slash{
		margin:150px;
	}
	#quo{
		margin-left: 50px;
	}
	.services .container .row p{
	padding:20px 30px;
	}

	video{
		display:none;
	}
	.our_story{
		height:65%;
	}
	.our_story h2,.our_story p{
		margin-top:4%;
		padding:20px;
		word-break: break-all;
	}
	.services{
		height:65%;
		position: relative;
	}
	.services p{
		word-break: break-all;
	}
	.services i{
		margin-left:35%;
	}
	.team{
		margin-top:2%;
		height:65%;
		padding:20px;
	}
	.team img{
		 margin-left: 35%;
	}

	.pricing{
		height:65%;
		
		margin-top: 2%;
	}
	.pricing p{
		padding:40px;
	}
	.pricing .package p{
		padding:0px;
	}
	.testimonial{
		height:65%;
			
		
	}
	.testimonial_package{
		display: inline-block;
		padding-right:0%;
		padding-left: 17%;
	}
	.testimonial p{
		padding:40px;
	}
	.contact p{
		padding:40px;
		word-break: break-all;
	}
	.footer #stayintouch i{
		padding-right:5%;
	}
	.footer #aboutus,#stayintouvh,#location{
		display:inline-block;

	}
	.footer #aboutus{
		padding-left:20%;
		
	}
}



